

main
  background-color: cadetblue
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: row

box
  width: 100px
  height: 100px
  background-color: greenyellow

arena
  width: 500px
  height: 500px